@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');

:root {
	--backgroundColor: #f1f5f9;
	--borderColor: #d5dde7;
	--accentColor: #ec4899;
	--textColor: #475569;
	--borderColor: #cbd5e1;
	--transparentColor: rgba(0, 0, 0, 0);
	--padding: 30px;
}

html {
	font-family: sans-serif;
	font-size: 100%;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	background-color: #f1f5f9;
	color: var(--textColor);
	font-family: Titillium Web, Avenir, Helvetica, Arial, sans-serif;
	background: url(https://www.toptal.com/designers/subtlepatterns/uploads/dot-grid.png);
}

#root {
	gap: 60px;
	padding: 30px;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	display: flex;
	height: 100vh;
}

.header {
	display: flex;
	align-items: center;
	gap: 10px;
	flex-direction: column;
}

.githubLink svg {
	width: 35px;
	height: 35px;
	fill: var(--textColor);
	transition: fill 150ms ease-out;
}

.githubLink:hover svg {
	fill: var(--accentColor);
}

.title {
	line-height: 1.25;
	text-align: center;
	font-size: 1.75rem;
}

.wrapper {
	display: flex;
	gap: 40px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.profileLink {
	color: var(--accentColor);
	font-weight: 600;
}

.profileLink:hover {
	text-decoration: underline;
}
