.customClass {
	position: relative;
}

.customClass > input,
.customClass > ul,
.customClass > ul > li {
	font-size: inherit;
	text-align: inherit;
	box-sizing: border-box;
	width: 100%;
}

.customClass > input {
	position: relative;
}

.customClass > ul {
	margin: 0.4rem 0 0 0;
	position: absolute;
	list-style-type: none;
	padding: 0;
	z-index: 999;
}

.customClass > ul > li {
	cursor: pointer;
	user-select: none;
	overflow: hidden;
	text-align: inherit;
}

@keyframes dropdownAnim {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes dropdownAnimOut {
	0% {
		opacity: 1;
		transform: translateY(0px);
	}

	100% {
		opacity: 0;
		transform: translateY(-10px);
	}
}

.dropdownIn {
	animation: dropdownAnim 200ms ease-out;
}

.dropdownOut {
	animation: dropdownAnimOut 200ms ease-out;
}

.customClass-hidden {
	top: -1em;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
